@import-normalize;

.App {
  display: flex;
  overflow: hidden;
  height: 100vh;
  background: #263238;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
}

.App>.Canvas {
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App>.Controls {
  flex: 1 0 350px;
  background: #151b1e;
}

.App-link {
  color: #61dafb;
}